.nav{
  display: flex;
  background-color: rgb(236, 241, 246);
  width: 100vw;
  border-bottom: 1px solid rgb(83, 88, 94);
}

.nav__control{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 18vw;
  gap: 1em;
  padding: 0.5em 1em;
  background-color: white;
  justify-content: space-between;
}
.nav__control h1{
  font-weight: bold;
}

.nav__control p{
  width: 50%;
}

.hamburger{
  width: 30px;
}

.nav__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0.8rem 3rem 0.8rem 1.5rem;
  flex-grow: 1;
}
.nav__head p{
  color: blue;
  font-weight: bold;
}
.nav__head img{
  width: 28px;
}
.nav__head_profile{
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.nav__head_options{
  display: flex;
  gap : 0.4em;
}

.nav__head_options input{
  padding: 0.3em 1em;
  border-radius: 1em;
  width : 20ch;
  border-color: rgb(39, 45, 61);
  border-width: 2px;
}

.nav__head_options input:focus{
  outline: none;
}
@media only screen and (max-width: 1000px) {
  .nav__control h1{
    font-size: 1.2rem;
  }
  .nav__control{
    padding: 0.5rem 0.9rem;
  }
}
@media only screen and (max-width: 750px){
  .nav__control h1{
    font-size: 1rem;
  }
  .nav__control{
    padding: 0.5rem 0.4rem;
  }
}
