.Appointment-Box-grid{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-auto-rows: 385px ;
    grid-row-gap: 20px;
    grid-column-gap: 8px;
}
.Appointment-date{
    display: flex;
    flex-direction: column;
}